*.swp
.~*
*.o
*.log
*.swo
*.hex
*.map
*.cof
*.pyc

*.schlog
*.symlog
*.cmd_log
*.html
*.xreport
*.wdb
*.exe
tmp/
iseconfig/
_xmsgs/

*.asy
*.gise
*.vho
*.ngc
*.pdf
*.twx
*.lfp
ipcore_dir/*
!*.xco
!*.xise

sw/config.py
