##net rx (fpga IN) -> wire labelled tx (cp2103 OUT)
NET "rx" LOC = H17;
##net tx (fpga OUT) -> wire labelled rx (cp2103 IN)
NET "tx" LOC = B21;
##27MHz on-board single-ended
NET "clk_in" LOC = AB13;
#Created by Constraints Editor (xc6slx45t-fgg484-3) - 2012/12/19
NET "clk_in" TNM_NET = "clk_in";
TIMESPEC TS_clk_in = PERIOD "clk_in" 27 MHz HIGH 50 % INPUT_JITTER 200 ps;
NET "tx" OFFSET = OUT  AFTER "clk_in";
PIN "inst_dcm/pll_base_inst.CLKOUT0" TNM = "refclk";

NET "rx" OFFSET = IN 8.68 us VALID 8.68 us BEFORE "clk_in" RISING;

INST "serial" AREA_GROUP = "pblock_serial";
AREA_GROUP "pblock_serial" RANGE=SLICE_X52Y112:SLICE_X59Y125;
AREA_GROUP "pblock_serial" RANGE=RAMB16_X3Y56:RAMB16_X3Y60;
AREA_GROUP "pblock_serial" RANGE=RAMB8_X3Y56:RAMB8_X3Y61;

INST "miner0" AREA_GROUP = "pblock_miner0";
AREA_GROUP "pblock_miner0" RANGE=CLOCKREGION_X1Y6:CLOCKREGION_X1Y5;
