##net rx (fpga IN) -> wire labelled tx (cp2103 OUT)
NET "rx" LOC = H17;
##net tx (fpga OUT) -> wire labelled rx (cp2103 IN)
NET "tx" LOC = B21;
##27MHz on-board single-ended
NET "clk_in" LOC = AB13;
NET "leds[0]" LOC = D17;
NET "leds[1]" LOC = AB4;
NET "leds[2]" LOC = D21;
NET "leds[3]" LOC = W15;
#Created by Constraints Editor (xc6slx45t-fgg484-3) - 2012/12/19
NET "clk_in" TNM_NET = "clk_in";
TIMESPEC TS_clk_in = PERIOD "clk_in" 27 MHz HIGH 50 %;
NET "tx" OFFSET = OUT  AFTER "clk_in";
PIN "inst_dcm/pll_base_inst.CLKOUT0" TNM = "refclk";


#Created by Constraints Editor (xc6slx45t-fgg484-3) - 2013/01/09
OFFSET = IN 37.037 ns VALID 37.037 ns BEFORE "clk_in" RISING;
NET "rx" OFFSET = IN 1.1 us VALID 1.1 us BEFORE "clk_in" RISING;
OFFSET = OUT 37.037 ns AFTER "clk_in";
INST "leds[0]" TNM = "leds";
INST "leds[1]" TNM = "leds";
INST "leds[2]" TNM = "leds";
INST "leds[3]" TNM = "leds";
TIMEGRP "leds" OFFSET = OUT 1 ms AFTER "clk_in";




INST "serial" AREA_GROUP = "pblock_serial";
AREA_GROUP "pblock_serial" RANGE=SLICE_X52Y112:SLICE_X59Y125;
AREA_GROUP "pblock_serial" RANGE=RAMB16_X3Y56:RAMB16_X3Y62;
AREA_GROUP "pblock_serial" RANGE=RAMB8_X3Y56:RAMB8_X3Y63;

#Created by Constraints Editor (xc6slx45t-fgg484-3) - 2013/01/20
INST "leds[0]" TNM = "leds";
INST "leds[1]" TNM = "leds";
INST "leds[2]" TNM = "leds";
INST "leds[3]" TNM = "leds";

INST "miner1" AREA_GROUP = "pblock_miner1";
AREA_GROUP "pblock_miner1" RANGE=CLOCKREGION_X0Y0:CLOCKREGION_X0Y6;
INST "miner0" AREA_GROUP = "pblock_miner0";
AREA_GROUP "pblock_miner0" RANGE=CLOCKREGION_X1Y0:CLOCKREGION_X1Y5;
INST "load_267" AREA_GROUP = "pblock_1";
INST "load_266" AREA_GROUP = "pblock_1";
INST "load_265" AREA_GROUP = "pblock_1";
INST "load_264" AREA_GROUP = "pblock_1";
INST "load_263" AREA_GROUP = "pblock_1";
INST "load_262" AREA_GROUP = "pblock_1";
INST "load_261" AREA_GROUP = "pblock_1";
INST "load_260" AREA_GROUP = "pblock_1";
INST "load_226" AREA_GROUP = "pblock_1";
INST "load_229" AREA_GROUP = "pblock_1";
INST "load_230" AREA_GROUP = "pblock_1";
INST "load_231" AREA_GROUP = "pblock_1";
INST "load_232" AREA_GROUP = "pblock_1";
INST "load_233" AREA_GROUP = "pblock_1";
INST "load_299" AREA_GROUP = "pblock_1";
INST "load_298" AREA_GROUP = "pblock_1";
INST "load_297" AREA_GROUP = "pblock_1";
INST "load_296" AREA_GROUP = "pblock_1";
INST "load_295" AREA_GROUP = "pblock_1";
INST "load_294" AREA_GROUP = "pblock_1";
INST "load_293" AREA_GROUP = "pblock_1";
INST "load_292" AREA_GROUP = "pblock_1";
INST "load_291" AREA_GROUP = "pblock_1";
INST "load_290" AREA_GROUP = "pblock_1";
INST "load_289" AREA_GROUP = "pblock_1";
INST "load_288" AREA_GROUP = "pblock_1";
INST "load_287" AREA_GROUP = "pblock_1";
INST "load_286" AREA_GROUP = "pblock_1";
INST "load_285" AREA_GROUP = "pblock_1";
INST "load_284" AREA_GROUP = "pblock_1";
INST "load_283" AREA_GROUP = "pblock_1";
INST "load_282" AREA_GROUP = "pblock_1";
INST "load_281" AREA_GROUP = "pblock_1";
INST "load_280" AREA_GROUP = "pblock_1";
INST "load_279" AREA_GROUP = "pblock_1";
INST "load_278" AREA_GROUP = "pblock_1";
INST "load_277" AREA_GROUP = "pblock_1";
INST "load_276" AREA_GROUP = "pblock_1";
INST "load_275" AREA_GROUP = "pblock_1";
INST "load_274" AREA_GROUP = "pblock_1";
INST "load_273" AREA_GROUP = "pblock_1";
INST "load_272" AREA_GROUP = "pblock_1";
INST "load_271" AREA_GROUP = "pblock_1";
INST "load_270" AREA_GROUP = "pblock_1";
INST "load_269" AREA_GROUP = "pblock_1";
INST "load_268" AREA_GROUP = "pblock_1";
INST "load_318" AREA_GROUP = "pblock_1";
INST "load_317" AREA_GROUP = "pblock_1";
INST "load_316" AREA_GROUP = "pblock_1";
INST "load_315" AREA_GROUP = "pblock_1";
INST "load_314" AREA_GROUP = "pblock_1";
INST "load_313" AREA_GROUP = "pblock_1";
INST "load_312" AREA_GROUP = "pblock_1";
INST "load_311" AREA_GROUP = "pblock_1";
INST "load_310" AREA_GROUP = "pblock_1";
INST "load_309" AREA_GROUP = "pblock_1";
INST "load_308" AREA_GROUP = "pblock_1";
INST "load_307" AREA_GROUP = "pblock_1";
INST "load_306" AREA_GROUP = "pblock_1";
INST "load_305" AREA_GROUP = "pblock_1";
INST "load_304" AREA_GROUP = "pblock_1";
INST "load_303" AREA_GROUP = "pblock_1";
INST "load_302" AREA_GROUP = "pblock_1";
INST "load_301" AREA_GROUP = "pblock_1";
INST "load_300" AREA_GROUP = "pblock_1";
INST "data_6" AREA_GROUP = "pblock_1";
INST "data_5" AREA_GROUP = "pblock_1";
INST "data_4" AREA_GROUP = "pblock_1";
INST "data_3" AREA_GROUP = "pblock_1";
INST "data_2" AREA_GROUP = "pblock_1";
INST "data_1" AREA_GROUP = "pblock_1";
INST "data_0" AREA_GROUP = "pblock_1";
INST "load_343" AREA_GROUP = "pblock_1";
INST "load_342" AREA_GROUP = "pblock_1";
INST "load_341" AREA_GROUP = "pblock_1";
INST "load_340" AREA_GROUP = "pblock_1";
INST "load_339" AREA_GROUP = "pblock_1";
INST "load_338" AREA_GROUP = "pblock_1";
INST "load_337" AREA_GROUP = "pblock_1";
INST "load_336" AREA_GROUP = "pblock_1";
INST "load_335" AREA_GROUP = "pblock_1";
INST "load_334" AREA_GROUP = "pblock_1";
INST "load_333" AREA_GROUP = "pblock_1";
INST "load_332" AREA_GROUP = "pblock_1";
INST "load_331" AREA_GROUP = "pblock_1";
INST "load_330" AREA_GROUP = "pblock_1";
INST "load_329" AREA_GROUP = "pblock_1";
INST "load_328" AREA_GROUP = "pblock_1";
INST "load_327" AREA_GROUP = "pblock_1";
INST "load_326" AREA_GROUP = "pblock_1";
INST "load_325" AREA_GROUP = "pblock_1";
INST "load_324" AREA_GROUP = "pblock_1";
INST "load_323" AREA_GROUP = "pblock_1";
INST "load_322" AREA_GROUP = "pblock_1";
INST "load_321" AREA_GROUP = "pblock_1";
INST "load_320" AREA_GROUP = "pblock_1";
INST "load_319" AREA_GROUP = "pblock_1";
INST "data_25" AREA_GROUP = "pblock_1";
INST "data_24" AREA_GROUP = "pblock_1";
INST "data_23" AREA_GROUP = "pblock_1";
INST "data_22" AREA_GROUP = "pblock_1";
INST "data_21" AREA_GROUP = "pblock_1";
INST "data_20" AREA_GROUP = "pblock_1";
INST "data_19" AREA_GROUP = "pblock_1";
INST "data_18" AREA_GROUP = "pblock_1";
INST "data_17" AREA_GROUP = "pblock_1";
INST "data_16" AREA_GROUP = "pblock_1";
INST "data_15" AREA_GROUP = "pblock_1";
INST "data_14" AREA_GROUP = "pblock_1";
INST "data_13" AREA_GROUP = "pblock_1";
INST "data_12" AREA_GROUP = "pblock_1";
INST "data_11" AREA_GROUP = "pblock_1";
INST "data_10" AREA_GROUP = "pblock_1";
INST "data_9" AREA_GROUP = "pblock_1";
INST "data_8" AREA_GROUP = "pblock_1";
INST "data_7" AREA_GROUP = "pblock_1";
INST "load_222" AREA_GROUP = "pblock_1";
INST "load_223" AREA_GROUP = "pblock_1";
INST "load_224" AREA_GROUP = "pblock_1";
INST "data_34" AREA_GROUP = "pblock_1";
INST "data_32" AREA_GROUP = "pblock_1";
INST "data_36" AREA_GROUP = "pblock_1";
INST "data_37" AREA_GROUP = "pblock_1";
INST "data_38" AREA_GROUP = "pblock_1";
INST "data_39" AREA_GROUP = "pblock_1";
INST "data_40" AREA_GROUP = "pblock_1";
INST "data_41" AREA_GROUP = "pblock_1";
INST "data_35" AREA_GROUP = "pblock_1";
INST "data_33" AREA_GROUP = "pblock_1";
INST "data_31" AREA_GROUP = "pblock_1";
INST "data_30" AREA_GROUP = "pblock_1";
INST "data_29" AREA_GROUP = "pblock_1";
INST "data_28" AREA_GROUP = "pblock_1";
INST "data_27" AREA_GROUP = "pblock_1";
INST "data_26" AREA_GROUP = "pblock_1";
INST "load_203" AREA_GROUP = "pblock_1";
INST "load_204" AREA_GROUP = "pblock_1";
INST "load_205" AREA_GROUP = "pblock_1";
INST "load_206" AREA_GROUP = "pblock_1";
INST "load_207" AREA_GROUP = "pblock_1";
INST "load_208" AREA_GROUP = "pblock_1";
INST "load_209" AREA_GROUP = "pblock_1";
INST "load_210" AREA_GROUP = "pblock_1";
INST "load_211" AREA_GROUP = "pblock_1";
INST "load_212" AREA_GROUP = "pblock_1";
INST "load_213" AREA_GROUP = "pblock_1";
INST "load_214" AREA_GROUP = "pblock_1";
INST "load_215" AREA_GROUP = "pblock_1";
INST "load_216" AREA_GROUP = "pblock_1";
INST "load_217" AREA_GROUP = "pblock_1";
INST "load_218" AREA_GROUP = "pblock_1";
INST "load_219" AREA_GROUP = "pblock_1";
INST "load_220" AREA_GROUP = "pblock_1";
INST "load_221" AREA_GROUP = "pblock_1";
INST "load_171" AREA_GROUP = "pblock_1";
INST "load_172" AREA_GROUP = "pblock_1";
INST "load_173" AREA_GROUP = "pblock_1";
INST "load_174" AREA_GROUP = "pblock_1";
INST "load_175" AREA_GROUP = "pblock_1";
INST "load_176" AREA_GROUP = "pblock_1";
INST "load_177" AREA_GROUP = "pblock_1";
INST "load_178" AREA_GROUP = "pblock_1";
INST "load_179" AREA_GROUP = "pblock_1";
INST "load_180" AREA_GROUP = "pblock_1";
INST "load_181" AREA_GROUP = "pblock_1";
INST "load_182" AREA_GROUP = "pblock_1";
INST "load_183" AREA_GROUP = "pblock_1";
INST "load_184" AREA_GROUP = "pblock_1";
INST "load_185" AREA_GROUP = "pblock_1";
INST "load_186" AREA_GROUP = "pblock_1";
INST "load_187" AREA_GROUP = "pblock_1";
INST "load_188" AREA_GROUP = "pblock_1";
INST "load_189" AREA_GROUP = "pblock_1";
INST "load_190" AREA_GROUP = "pblock_1";
INST "load_191" AREA_GROUP = "pblock_1";
INST "load_192" AREA_GROUP = "pblock_1";
INST "load_193" AREA_GROUP = "pblock_1";
INST "load_194" AREA_GROUP = "pblock_1";
INST "load_195" AREA_GROUP = "pblock_1";
INST "load_196" AREA_GROUP = "pblock_1";
INST "load_197" AREA_GROUP = "pblock_1";
INST "load_198" AREA_GROUP = "pblock_1";
INST "load_199" AREA_GROUP = "pblock_1";
INST "load_200" AREA_GROUP = "pblock_1";
INST "load_201" AREA_GROUP = "pblock_1";
INST "load_202" AREA_GROUP = "pblock_1";
INST "load_152" AREA_GROUP = "pblock_1";
INST "load_153" AREA_GROUP = "pblock_1";
INST "load_154" AREA_GROUP = "pblock_1";
INST "load_155" AREA_GROUP = "pblock_1";
INST "load_156" AREA_GROUP = "pblock_1";
INST "load_157" AREA_GROUP = "pblock_1";
INST "load_158" AREA_GROUP = "pblock_1";
INST "load_159" AREA_GROUP = "pblock_1";
INST "load_160" AREA_GROUP = "pblock_1";
INST "load_161" AREA_GROUP = "pblock_1";
INST "load_162" AREA_GROUP = "pblock_1";
INST "load_163" AREA_GROUP = "pblock_1";
INST "load_164" AREA_GROUP = "pblock_1";
INST "load_165" AREA_GROUP = "pblock_1";
INST "load_166" AREA_GROUP = "pblock_1";
INST "load_167" AREA_GROUP = "pblock_1";
INST "load_168" AREA_GROUP = "pblock_1";
INST "load_169" AREA_GROUP = "pblock_1";
INST "load_170" AREA_GROUP = "pblock_1";
INST "load_120" AREA_GROUP = "pblock_1";
INST "load_121" AREA_GROUP = "pblock_1";
INST "load_122" AREA_GROUP = "pblock_1";
INST "load_123" AREA_GROUP = "pblock_1";
INST "load_124" AREA_GROUP = "pblock_1";
INST "load_125" AREA_GROUP = "pblock_1";
INST "load_126" AREA_GROUP = "pblock_1";
INST "load_127" AREA_GROUP = "pblock_1";
INST "load_128" AREA_GROUP = "pblock_1";
INST "load_129" AREA_GROUP = "pblock_1";
INST "load_130" AREA_GROUP = "pblock_1";
INST "load_131" AREA_GROUP = "pblock_1";
INST "load_132" AREA_GROUP = "pblock_1";
INST "load_133" AREA_GROUP = "pblock_1";
INST "load_134" AREA_GROUP = "pblock_1";
INST "load_135" AREA_GROUP = "pblock_1";
INST "load_136" AREA_GROUP = "pblock_1";
INST "load_137" AREA_GROUP = "pblock_1";
INST "load_138" AREA_GROUP = "pblock_1";
INST "load_139" AREA_GROUP = "pblock_1";
INST "load_140" AREA_GROUP = "pblock_1";
INST "load_141" AREA_GROUP = "pblock_1";
INST "load_142" AREA_GROUP = "pblock_1";
INST "load_143" AREA_GROUP = "pblock_1";
INST "load_144" AREA_GROUP = "pblock_1";
INST "load_145" AREA_GROUP = "pblock_1";
INST "load_146" AREA_GROUP = "pblock_1";
INST "load_147" AREA_GROUP = "pblock_1";
INST "load_148" AREA_GROUP = "pblock_1";
INST "load_149" AREA_GROUP = "pblock_1";
INST "load_150" AREA_GROUP = "pblock_1";
INST "load_151" AREA_GROUP = "pblock_1";
INST "load_101" AREA_GROUP = "pblock_1";
INST "load_102" AREA_GROUP = "pblock_1";
INST "load_103" AREA_GROUP = "pblock_1";
INST "load_104" AREA_GROUP = "pblock_1";
INST "load_105" AREA_GROUP = "pblock_1";
INST "load_106" AREA_GROUP = "pblock_1";
INST "load_107" AREA_GROUP = "pblock_1";
INST "load_108" AREA_GROUP = "pblock_1";
INST "load_109" AREA_GROUP = "pblock_1";
INST "load_110" AREA_GROUP = "pblock_1";
INST "load_111" AREA_GROUP = "pblock_1";
INST "load_112" AREA_GROUP = "pblock_1";
INST "load_113" AREA_GROUP = "pblock_1";
INST "load_114" AREA_GROUP = "pblock_1";
INST "load_115" AREA_GROUP = "pblock_1";
INST "load_116" AREA_GROUP = "pblock_1";
INST "load_117" AREA_GROUP = "pblock_1";
INST "load_118" AREA_GROUP = "pblock_1";
INST "load_119" AREA_GROUP = "pblock_1";
INST "load_69" AREA_GROUP = "pblock_1";
INST "load_70" AREA_GROUP = "pblock_1";
INST "load_71" AREA_GROUP = "pblock_1";
INST "load_72" AREA_GROUP = "pblock_1";
INST "load_73" AREA_GROUP = "pblock_1";
INST "load_74" AREA_GROUP = "pblock_1";
INST "load_75" AREA_GROUP = "pblock_1";
INST "load_76" AREA_GROUP = "pblock_1";
INST "load_77" AREA_GROUP = "pblock_1";
INST "load_78" AREA_GROUP = "pblock_1";
INST "load_79" AREA_GROUP = "pblock_1";
INST "load_80" AREA_GROUP = "pblock_1";
INST "load_81" AREA_GROUP = "pblock_1";
INST "load_82" AREA_GROUP = "pblock_1";
INST "load_83" AREA_GROUP = "pblock_1";
INST "load_84" AREA_GROUP = "pblock_1";
INST "load_85" AREA_GROUP = "pblock_1";
INST "load_86" AREA_GROUP = "pblock_1";
INST "load_87" AREA_GROUP = "pblock_1";
INST "load_88" AREA_GROUP = "pblock_1";
INST "load_89" AREA_GROUP = "pblock_1";
INST "load_90" AREA_GROUP = "pblock_1";
INST "load_91" AREA_GROUP = "pblock_1";
INST "load_92" AREA_GROUP = "pblock_1";
INST "load_93" AREA_GROUP = "pblock_1";
INST "load_94" AREA_GROUP = "pblock_1";
INST "load_95" AREA_GROUP = "pblock_1";
INST "load_96" AREA_GROUP = "pblock_1";
INST "load_97" AREA_GROUP = "pblock_1";
INST "load_98" AREA_GROUP = "pblock_1";
INST "load_99" AREA_GROUP = "pblock_1";
INST "load_100" AREA_GROUP = "pblock_1";
INST "load_50" AREA_GROUP = "pblock_1";
INST "load_51" AREA_GROUP = "pblock_1";
INST "load_52" AREA_GROUP = "pblock_1";
INST "load_53" AREA_GROUP = "pblock_1";
INST "load_54" AREA_GROUP = "pblock_1";
INST "load_55" AREA_GROUP = "pblock_1";
INST "load_56" AREA_GROUP = "pblock_1";
INST "load_57" AREA_GROUP = "pblock_1";
INST "load_58" AREA_GROUP = "pblock_1";
INST "load_59" AREA_GROUP = "pblock_1";
INST "load_60" AREA_GROUP = "pblock_1";
INST "load_61" AREA_GROUP = "pblock_1";
INST "load_62" AREA_GROUP = "pblock_1";
INST "load_63" AREA_GROUP = "pblock_1";
INST "load_64" AREA_GROUP = "pblock_1";
INST "load_65" AREA_GROUP = "pblock_1";
INST "load_66" AREA_GROUP = "pblock_1";
INST "load_67" AREA_GROUP = "pblock_1";
INST "load_68" AREA_GROUP = "pblock_1";
INST "load_25" AREA_GROUP = "pblock_1";
INST "load_26" AREA_GROUP = "pblock_1";
INST "load_27" AREA_GROUP = "pblock_1";
INST "load_28" AREA_GROUP = "pblock_1";
INST "load_29" AREA_GROUP = "pblock_1";
INST "load_30" AREA_GROUP = "pblock_1";
INST "load_31" AREA_GROUP = "pblock_1";
INST "load_32" AREA_GROUP = "pblock_1";
INST "load_33" AREA_GROUP = "pblock_1";
INST "load_34" AREA_GROUP = "pblock_1";
INST "load_35" AREA_GROUP = "pblock_1";
INST "load_36" AREA_GROUP = "pblock_1";
INST "load_37" AREA_GROUP = "pblock_1";
INST "load_38" AREA_GROUP = "pblock_1";
INST "load_39" AREA_GROUP = "pblock_1";
INST "load_40" AREA_GROUP = "pblock_1";
INST "load_41" AREA_GROUP = "pblock_1";
INST "load_42" AREA_GROUP = "pblock_1";
INST "load_43" AREA_GROUP = "pblock_1";
INST "load_44" AREA_GROUP = "pblock_1";
INST "load_45" AREA_GROUP = "pblock_1";
INST "load_46" AREA_GROUP = "pblock_1";
INST "load_47" AREA_GROUP = "pblock_1";
INST "load_48" AREA_GROUP = "pblock_1";
INST "load_49" AREA_GROUP = "pblock_1";
INST "load_13" AREA_GROUP = "pblock_1";
INST "load_10" AREA_GROUP = "pblock_1";
INST "load_24" AREA_GROUP = "pblock_1";
INST "load_23" AREA_GROUP = "pblock_1";
INST "load_22" AREA_GROUP = "pblock_1";
INST "load_21" AREA_GROUP = "pblock_1";
INST "load_20" AREA_GROUP = "pblock_1";
INST "load_19" AREA_GROUP = "pblock_1";
INST "load_18" AREA_GROUP = "pblock_1";
INST "load_17" AREA_GROUP = "pblock_1";
INST "load_16" AREA_GROUP = "pblock_1";
INST "load_15" AREA_GROUP = "pblock_1";
INST "load_14" AREA_GROUP = "pblock_1";
INST "load_12" AREA_GROUP = "pblock_1";
INST "XST_VCC" AREA_GROUP = "pblock_1";
INST "txwidth_1" AREA_GROUP = "pblock_1";
INST "txwidth_4" AREA_GROUP = "pblock_1";
INST "load_0" AREA_GROUP = "pblock_1";
INST "load_1" AREA_GROUP = "pblock_1";
INST "load_2" AREA_GROUP = "pblock_1";
INST "load_3" AREA_GROUP = "pblock_1";
INST "load_4" AREA_GROUP = "pblock_1";
INST "load_5" AREA_GROUP = "pblock_1";
INST "load_8" AREA_GROUP = "pblock_1";
INST "load_6" AREA_GROUP = "pblock_1";
INST "load_7" AREA_GROUP = "pblock_1";
INST "load_9" AREA_GROUP = "pblock_1";
INST "load_11" AREA_GROUP = "pblock_1";
INST "load_257" AREA_GROUP = "pblock_1";
INST "load_256" AREA_GROUP = "pblock_1";
INST "load_255" AREA_GROUP = "pblock_1";
INST "load_251" AREA_GROUP = "pblock_1";
INST "load_250" AREA_GROUP = "pblock_1";
INST "load_249" AREA_GROUP = "pblock_1";
INST "load_248" AREA_GROUP = "pblock_1";
INST "load_247" AREA_GROUP = "pblock_1";
INST "load_246" AREA_GROUP = "pblock_1";
INST "load_245" AREA_GROUP = "pblock_1";
INST "load_244" AREA_GROUP = "pblock_1";
INST "load_243" AREA_GROUP = "pblock_1";
INST "load_242" AREA_GROUP = "pblock_1";
INST "load_241" AREA_GROUP = "pblock_1";
INST "load_240" AREA_GROUP = "pblock_1";
INST "load_239" AREA_GROUP = "pblock_1";
INST "load_238" AREA_GROUP = "pblock_1";
INST "load_237" AREA_GROUP = "pblock_1";
INST "load_236" AREA_GROUP = "pblock_1";
INST "load_235" AREA_GROUP = "pblock_1";
INST "load_234" AREA_GROUP = "pblock_1";
INST "load_225" AREA_GROUP = "pblock_1";
INST "load_227" AREA_GROUP = "pblock_1";
INST "load_228" AREA_GROUP = "pblock_1";
INST "load_254" AREA_GROUP = "pblock_1";
INST "load_253" AREA_GROUP = "pblock_1";
INST "load_252" AREA_GROUP = "pblock_1";
INST "load_259" AREA_GROUP = "pblock_1";
INST "load_258" AREA_GROUP = "pblock_1";
INST "data_55" AREA_GROUP = "pblock_1";
INST "data_54" AREA_GROUP = "pblock_1";
INST "data_53" AREA_GROUP = "pblock_1";
INST "data_52" AREA_GROUP = "pblock_1";
INST "data_51" AREA_GROUP = "pblock_1";
INST "data_50" AREA_GROUP = "pblock_1";
INST "data_49" AREA_GROUP = "pblock_1";
INST "data_48" AREA_GROUP = "pblock_1";
INST "data_47" AREA_GROUP = "pblock_1";
INST "data_46" AREA_GROUP = "pblock_1";
INST "data_45" AREA_GROUP = "pblock_1";
INST "data_44" AREA_GROUP = "pblock_1";
INST "data_43" AREA_GROUP = "pblock_1";
INST "data_42" AREA_GROUP = "pblock_1";
INST "data_87" AREA_GROUP = "pblock_1";
INST "data_86" AREA_GROUP = "pblock_1";
INST "data_85" AREA_GROUP = "pblock_1";
INST "data_84" AREA_GROUP = "pblock_1";
INST "data_83" AREA_GROUP = "pblock_1";
INST "data_82" AREA_GROUP = "pblock_1";
INST "data_81" AREA_GROUP = "pblock_1";
INST "data_80" AREA_GROUP = "pblock_1";
INST "data_79" AREA_GROUP = "pblock_1";
INST "data_78" AREA_GROUP = "pblock_1";
INST "data_77" AREA_GROUP = "pblock_1";
INST "data_76" AREA_GROUP = "pblock_1";
INST "data_75" AREA_GROUP = "pblock_1";
INST "data_74" AREA_GROUP = "pblock_1";
INST "data_73" AREA_GROUP = "pblock_1";
INST "data_72" AREA_GROUP = "pblock_1";
INST "data_71" AREA_GROUP = "pblock_1";
INST "data_70" AREA_GROUP = "pblock_1";
INST "data_69" AREA_GROUP = "pblock_1";
INST "data_68" AREA_GROUP = "pblock_1";
INST "data_67" AREA_GROUP = "pblock_1";
INST "data_66" AREA_GROUP = "pblock_1";
INST "data_65" AREA_GROUP = "pblock_1";
INST "data_64" AREA_GROUP = "pblock_1";
INST "data_63" AREA_GROUP = "pblock_1";
INST "data_62" AREA_GROUP = "pblock_1";
INST "data_61" AREA_GROUP = "pblock_1";
INST "data_60" AREA_GROUP = "pblock_1";
INST "data_59" AREA_GROUP = "pblock_1";
INST "data_58" AREA_GROUP = "pblock_1";
INST "data_57" AREA_GROUP = "pblock_1";
INST "data_56" AREA_GROUP = "pblock_1";
INST "state_10" AREA_GROUP = "pblock_1";
INST "state_9" AREA_GROUP = "pblock_1";
INST "state_8" AREA_GROUP = "pblock_1";
INST "state_7" AREA_GROUP = "pblock_1";
INST "state_6" AREA_GROUP = "pblock_1";
INST "state_5" AREA_GROUP = "pblock_1";
INST "state_4" AREA_GROUP = "pblock_1";
INST "state_3" AREA_GROUP = "pblock_1";
INST "state_2" AREA_GROUP = "pblock_1";
INST "state_1" AREA_GROUP = "pblock_1";
INST "state_0" AREA_GROUP = "pblock_1";
INST "data_95" AREA_GROUP = "pblock_1";
INST "data_94" AREA_GROUP = "pblock_1";
INST "data_93" AREA_GROUP = "pblock_1";
INST "data_92" AREA_GROUP = "pblock_1";
INST "data_91" AREA_GROUP = "pblock_1";
INST "data_90" AREA_GROUP = "pblock_1";
INST "data_89" AREA_GROUP = "pblock_1";
INST "data_88" AREA_GROUP = "pblock_1";
INST "state_42" AREA_GROUP = "pblock_1";
INST "state_41" AREA_GROUP = "pblock_1";
INST "state_40" AREA_GROUP = "pblock_1";
INST "state_39" AREA_GROUP = "pblock_1";
INST "state_38" AREA_GROUP = "pblock_1";
INST "state_37" AREA_GROUP = "pblock_1";
INST "state_36" AREA_GROUP = "pblock_1";
INST "state_35" AREA_GROUP = "pblock_1";
INST "state_34" AREA_GROUP = "pblock_1";
INST "state_33" AREA_GROUP = "pblock_1";
INST "state_32" AREA_GROUP = "pblock_1";
INST "state_31" AREA_GROUP = "pblock_1";
INST "state_30" AREA_GROUP = "pblock_1";
INST "state_29" AREA_GROUP = "pblock_1";
INST "state_28" AREA_GROUP = "pblock_1";
INST "state_27" AREA_GROUP = "pblock_1";
INST "state_26" AREA_GROUP = "pblock_1";
INST "state_25" AREA_GROUP = "pblock_1";
INST "state_24" AREA_GROUP = "pblock_1";
INST "state_23" AREA_GROUP = "pblock_1";
INST "state_22" AREA_GROUP = "pblock_1";
INST "state_21" AREA_GROUP = "pblock_1";
INST "state_20" AREA_GROUP = "pblock_1";
INST "state_19" AREA_GROUP = "pblock_1";
INST "state_18" AREA_GROUP = "pblock_1";
INST "state_17" AREA_GROUP = "pblock_1";
INST "state_16" AREA_GROUP = "pblock_1";
INST "state_15" AREA_GROUP = "pblock_1";
INST "state_14" AREA_GROUP = "pblock_1";
INST "state_13" AREA_GROUP = "pblock_1";
INST "state_12" AREA_GROUP = "pblock_1";
INST "state_11" AREA_GROUP = "pblock_1";
INST "state_61" AREA_GROUP = "pblock_1";
INST "state_60" AREA_GROUP = "pblock_1";
INST "state_59" AREA_GROUP = "pblock_1";
INST "state_58" AREA_GROUP = "pblock_1";
INST "state_57" AREA_GROUP = "pblock_1";
INST "state_56" AREA_GROUP = "pblock_1";
INST "state_55" AREA_GROUP = "pblock_1";
INST "state_54" AREA_GROUP = "pblock_1";
INST "state_53" AREA_GROUP = "pblock_1";
INST "state_52" AREA_GROUP = "pblock_1";
INST "state_51" AREA_GROUP = "pblock_1";
INST "state_50" AREA_GROUP = "pblock_1";
INST "state_49" AREA_GROUP = "pblock_1";
INST "state_48" AREA_GROUP = "pblock_1";
INST "state_47" AREA_GROUP = "pblock_1";
INST "state_46" AREA_GROUP = "pblock_1";
INST "state_45" AREA_GROUP = "pblock_1";
INST "state_44" AREA_GROUP = "pblock_1";
INST "state_43" AREA_GROUP = "pblock_1";
INST "state_93" AREA_GROUP = "pblock_1";
INST "state_92" AREA_GROUP = "pblock_1";
INST "state_91" AREA_GROUP = "pblock_1";
INST "state_90" AREA_GROUP = "pblock_1";
INST "state_89" AREA_GROUP = "pblock_1";
INST "state_88" AREA_GROUP = "pblock_1";
INST "state_87" AREA_GROUP = "pblock_1";
INST "state_86" AREA_GROUP = "pblock_1";
INST "state_85" AREA_GROUP = "pblock_1";
INST "state_84" AREA_GROUP = "pblock_1";
INST "state_83" AREA_GROUP = "pblock_1";
INST "state_82" AREA_GROUP = "pblock_1";
INST "state_81" AREA_GROUP = "pblock_1";
INST "state_80" AREA_GROUP = "pblock_1";
INST "state_79" AREA_GROUP = "pblock_1";
INST "state_78" AREA_GROUP = "pblock_1";
INST "state_77" AREA_GROUP = "pblock_1";
INST "state_76" AREA_GROUP = "pblock_1";
INST "state_75" AREA_GROUP = "pblock_1";
INST "state_74" AREA_GROUP = "pblock_1";
INST "state_73" AREA_GROUP = "pblock_1";
INST "state_72" AREA_GROUP = "pblock_1";
INST "state_71" AREA_GROUP = "pblock_1";
INST "state_70" AREA_GROUP = "pblock_1";
INST "state_69" AREA_GROUP = "pblock_1";
INST "state_68" AREA_GROUP = "pblock_1";
INST "state_67" AREA_GROUP = "pblock_1";
INST "state_66" AREA_GROUP = "pblock_1";
INST "state_65" AREA_GROUP = "pblock_1";
INST "state_64" AREA_GROUP = "pblock_1";
INST "state_63" AREA_GROUP = "pblock_1";
INST "state_62" AREA_GROUP = "pblock_1";
INST "state_112" AREA_GROUP = "pblock_1";
INST "state_111" AREA_GROUP = "pblock_1";
INST "state_110" AREA_GROUP = "pblock_1";
INST "state_109" AREA_GROUP = "pblock_1";
INST "state_108" AREA_GROUP = "pblock_1";
INST "state_107" AREA_GROUP = "pblock_1";
INST "state_106" AREA_GROUP = "pblock_1";
INST "state_105" AREA_GROUP = "pblock_1";
INST "state_104" AREA_GROUP = "pblock_1";
INST "state_103" AREA_GROUP = "pblock_1";
INST "state_102" AREA_GROUP = "pblock_1";
INST "state_101" AREA_GROUP = "pblock_1";
INST "state_100" AREA_GROUP = "pblock_1";
INST "state_99" AREA_GROUP = "pblock_1";
INST "state_98" AREA_GROUP = "pblock_1";
INST "state_97" AREA_GROUP = "pblock_1";
INST "state_96" AREA_GROUP = "pblock_1";
INST "state_95" AREA_GROUP = "pblock_1";
INST "state_94" AREA_GROUP = "pblock_1";
INST "state_144" AREA_GROUP = "pblock_1";
INST "state_143" AREA_GROUP = "pblock_1";
INST "state_142" AREA_GROUP = "pblock_1";
INST "state_141" AREA_GROUP = "pblock_1";
INST "state_140" AREA_GROUP = "pblock_1";
INST "state_139" AREA_GROUP = "pblock_1";
INST "state_138" AREA_GROUP = "pblock_1";
INST "state_137" AREA_GROUP = "pblock_1";
INST "state_136" AREA_GROUP = "pblock_1";
INST "state_135" AREA_GROUP = "pblock_1";
INST "state_134" AREA_GROUP = "pblock_1";
INST "state_133" AREA_GROUP = "pblock_1";
INST "state_132" AREA_GROUP = "pblock_1";
INST "state_131" AREA_GROUP = "pblock_1";
INST "state_130" AREA_GROUP = "pblock_1";
INST "state_129" AREA_GROUP = "pblock_1";
INST "state_128" AREA_GROUP = "pblock_1";
INST "state_127" AREA_GROUP = "pblock_1";
INST "state_126" AREA_GROUP = "pblock_1";
INST "state_125" AREA_GROUP = "pblock_1";
INST "state_124" AREA_GROUP = "pblock_1";
INST "state_123" AREA_GROUP = "pblock_1";
INST "state_122" AREA_GROUP = "pblock_1";
INST "state_121" AREA_GROUP = "pblock_1";
INST "state_120" AREA_GROUP = "pblock_1";
INST "state_119" AREA_GROUP = "pblock_1";
INST "state_118" AREA_GROUP = "pblock_1";
INST "state_117" AREA_GROUP = "pblock_1";
INST "state_116" AREA_GROUP = "pblock_1";
INST "state_115" AREA_GROUP = "pblock_1";
INST "state_114" AREA_GROUP = "pblock_1";
INST "state_113" AREA_GROUP = "pblock_1";
INST "state_163" AREA_GROUP = "pblock_1";
INST "state_162" AREA_GROUP = "pblock_1";
INST "state_161" AREA_GROUP = "pblock_1";
INST "state_160" AREA_GROUP = "pblock_1";
INST "state_159" AREA_GROUP = "pblock_1";
INST "state_158" AREA_GROUP = "pblock_1";
INST "state_157" AREA_GROUP = "pblock_1";
INST "state_156" AREA_GROUP = "pblock_1";
INST "state_155" AREA_GROUP = "pblock_1";
INST "state_154" AREA_GROUP = "pblock_1";
INST "state_153" AREA_GROUP = "pblock_1";
INST "state_152" AREA_GROUP = "pblock_1";
INST "state_151" AREA_GROUP = "pblock_1";
INST "state_150" AREA_GROUP = "pblock_1";
INST "state_149" AREA_GROUP = "pblock_1";
INST "state_148" AREA_GROUP = "pblock_1";
INST "state_147" AREA_GROUP = "pblock_1";
INST "state_146" AREA_GROUP = "pblock_1";
INST "state_145" AREA_GROUP = "pblock_1";
INST "state_195" AREA_GROUP = "pblock_1";
INST "state_194" AREA_GROUP = "pblock_1";
INST "state_193" AREA_GROUP = "pblock_1";
INST "state_192" AREA_GROUP = "pblock_1";
INST "state_191" AREA_GROUP = "pblock_1";
INST "state_190" AREA_GROUP = "pblock_1";
INST "state_189" AREA_GROUP = "pblock_1";
INST "state_188" AREA_GROUP = "pblock_1";
INST "state_187" AREA_GROUP = "pblock_1";
INST "state_186" AREA_GROUP = "pblock_1";
INST "state_185" AREA_GROUP = "pblock_1";
INST "state_184" AREA_GROUP = "pblock_1";
INST "state_183" AREA_GROUP = "pblock_1";
INST "state_182" AREA_GROUP = "pblock_1";
INST "state_181" AREA_GROUP = "pblock_1";
INST "state_180" AREA_GROUP = "pblock_1";
INST "state_179" AREA_GROUP = "pblock_1";
INST "state_178" AREA_GROUP = "pblock_1";
INST "state_177" AREA_GROUP = "pblock_1";
INST "state_176" AREA_GROUP = "pblock_1";
INST "state_175" AREA_GROUP = "pblock_1";
INST "state_174" AREA_GROUP = "pblock_1";
INST "state_173" AREA_GROUP = "pblock_1";
INST "state_172" AREA_GROUP = "pblock_1";
INST "state_171" AREA_GROUP = "pblock_1";
INST "state_170" AREA_GROUP = "pblock_1";
INST "state_169" AREA_GROUP = "pblock_1";
INST "state_168" AREA_GROUP = "pblock_1";
INST "state_167" AREA_GROUP = "pblock_1";
INST "state_166" AREA_GROUP = "pblock_1";
INST "state_165" AREA_GROUP = "pblock_1";
INST "state_164" AREA_GROUP = "pblock_1";
INST "state_214" AREA_GROUP = "pblock_1";
INST "state_213" AREA_GROUP = "pblock_1";
INST "state_212" AREA_GROUP = "pblock_1";
INST "state_211" AREA_GROUP = "pblock_1";
INST "state_210" AREA_GROUP = "pblock_1";
INST "state_209" AREA_GROUP = "pblock_1";
INST "state_208" AREA_GROUP = "pblock_1";
INST "state_207" AREA_GROUP = "pblock_1";
INST "state_206" AREA_GROUP = "pblock_1";
INST "state_205" AREA_GROUP = "pblock_1";
INST "state_204" AREA_GROUP = "pblock_1";
INST "state_203" AREA_GROUP = "pblock_1";
INST "state_202" AREA_GROUP = "pblock_1";
INST "state_201" AREA_GROUP = "pblock_1";
INST "state_200" AREA_GROUP = "pblock_1";
INST "state_199" AREA_GROUP = "pblock_1";
INST "state_198" AREA_GROUP = "pblock_1";
INST "state_197" AREA_GROUP = "pblock_1";
INST "state_196" AREA_GROUP = "pblock_1";
INST "state_246" AREA_GROUP = "pblock_1";
INST "state_245" AREA_GROUP = "pblock_1";
INST "state_244" AREA_GROUP = "pblock_1";
INST "state_243" AREA_GROUP = "pblock_1";
INST "state_242" AREA_GROUP = "pblock_1";
INST "state_241" AREA_GROUP = "pblock_1";
INST "state_240" AREA_GROUP = "pblock_1";
INST "state_239" AREA_GROUP = "pblock_1";
INST "state_238" AREA_GROUP = "pblock_1";
INST "state_237" AREA_GROUP = "pblock_1";
INST "state_236" AREA_GROUP = "pblock_1";
INST "state_235" AREA_GROUP = "pblock_1";
INST "state_234" AREA_GROUP = "pblock_1";
INST "state_233" AREA_GROUP = "pblock_1";
INST "state_232" AREA_GROUP = "pblock_1";
INST "state_231" AREA_GROUP = "pblock_1";
INST "state_230" AREA_GROUP = "pblock_1";
INST "state_229" AREA_GROUP = "pblock_1";
INST "state_228" AREA_GROUP = "pblock_1";
INST "state_227" AREA_GROUP = "pblock_1";
INST "state_226" AREA_GROUP = "pblock_1";
INST "state_225" AREA_GROUP = "pblock_1";
INST "state_224" AREA_GROUP = "pblock_1";
INST "state_223" AREA_GROUP = "pblock_1";
INST "state_222" AREA_GROUP = "pblock_1";
INST "state_221" AREA_GROUP = "pblock_1";
INST "state_220" AREA_GROUP = "pblock_1";
INST "state_219" AREA_GROUP = "pblock_1";
INST "state_218" AREA_GROUP = "pblock_1";
INST "state_217" AREA_GROUP = "pblock_1";
INST "state_216" AREA_GROUP = "pblock_1";
INST "state_215" AREA_GROUP = "pblock_1";
INST "txdata_17" AREA_GROUP = "pblock_1";
INST "txdata_16" AREA_GROUP = "pblock_1";
INST "txdata_15" AREA_GROUP = "pblock_1";
INST "txdata_14" AREA_GROUP = "pblock_1";
INST "txdata_13" AREA_GROUP = "pblock_1";
INST "txdata_12" AREA_GROUP = "pblock_1";
INST "txdata_11" AREA_GROUP = "pblock_1";
INST "txdata_10" AREA_GROUP = "pblock_1";
INST "txdata_1" AREA_GROUP = "pblock_1";
INST "txstrobe" AREA_GROUP = "pblock_1";
INST "state_255" AREA_GROUP = "pblock_1";
INST "state_254" AREA_GROUP = "pblock_1";
INST "state_253" AREA_GROUP = "pblock_1";
INST "state_252" AREA_GROUP = "pblock_1";
INST "state_251" AREA_GROUP = "pblock_1";
INST "state_250" AREA_GROUP = "pblock_1";
INST "state_249" AREA_GROUP = "pblock_1";
INST "state_248" AREA_GROUP = "pblock_1";
INST "state_247" AREA_GROUP = "pblock_1";
INST "loadctr_5" AREA_GROUP = "pblock_1";
INST "loadctr_4" AREA_GROUP = "pblock_1";
INST "loadctr_3" AREA_GROUP = "pblock_1";
INST "loadctr_2" AREA_GROUP = "pblock_1";
INST "loadctr_1" AREA_GROUP = "pblock_1";
INST "loadctr_0" AREA_GROUP = "pblock_1";
INST "txdata_48" AREA_GROUP = "pblock_1";
INST "txdata_47" AREA_GROUP = "pblock_1";
INST "txdata_46" AREA_GROUP = "pblock_1";
INST "txdata_45" AREA_GROUP = "pblock_1";
INST "txdata_44" AREA_GROUP = "pblock_1";
INST "txdata_43" AREA_GROUP = "pblock_1";
INST "txdata_42" AREA_GROUP = "pblock_1";
INST "txdata_41" AREA_GROUP = "pblock_1";
INST "txdata_38" AREA_GROUP = "pblock_1";
INST "txdata_37" AREA_GROUP = "pblock_1";
INST "txdata_36" AREA_GROUP = "pblock_1";
INST "txdata_35" AREA_GROUP = "pblock_1";
INST "txdata_34" AREA_GROUP = "pblock_1";
INST "txdata_33" AREA_GROUP = "pblock_1";
INST "txdata_32" AREA_GROUP = "pblock_1";
INST "txdata_31" AREA_GROUP = "pblock_1";
INST "txdata_28" AREA_GROUP = "pblock_1";
INST "txdata_27" AREA_GROUP = "pblock_1";
INST "txdata_26" AREA_GROUP = "pblock_1";
INST "txdata_25" AREA_GROUP = "pblock_1";
INST "txdata_24" AREA_GROUP = "pblock_1";
INST "txdata_23" AREA_GROUP = "pblock_1";
INST "txdata_22" AREA_GROUP = "pblock_1";
INST "txdata_21" AREA_GROUP = "pblock_1";
INST "txdata_18" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<27>1" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<24>1" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<23>1" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<22>1" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<21>1" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<17>1" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<16>1" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<18>1" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<14>1" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<13>1" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<15>1" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<11>1" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<12>1" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<10>11" AREA_GROUP = "pblock_1";
INST "Mcount_loadctr_xor<0>11" AREA_GROUP = "pblock_1";
INST "_n01571" AREA_GROUP = "pblock_1";
INST "exhausted_space[0]_rxdata[7]_MUX_1429_o1" AREA_GROUP = "pblock_1";
INST "_n015321" AREA_GROUP = "pblock_1";
INST "_n015311" AREA_GROUP = "pblock_1";
INST "_n0259_inv11" AREA_GROUP = "pblock_1";
INST "_n017611" AREA_GROUP = "pblock_1";
INST "_n0265_inv11" AREA_GROUP = "pblock_1";
INST "_n022511" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<1>11" AREA_GROUP = "pblock_1";
INST "loadctr[5]_INV_82_o21" AREA_GROUP = "pblock_1";
INST "Mcount_loadctr21" AREA_GROUP = "pblock_1";
INST "Mcount_loadctr31" AREA_GROUP = "pblock_1";
INST "Mcount_loadctr41" AREA_GROUP = "pblock_1";
INST "Mcount_loadctr_xor<1>11" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<48>1" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<46>1" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<45>1" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<47>1" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<43>1" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<42>1" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<44>1" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<41>1" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<38>1" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<37>1" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<36>1" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<34>1" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<33>1" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<35>1" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<31>1" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<28>1" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<32>1" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<26>1" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<25>1" AREA_GROUP = "pblock_1";
INST "txwidth_3_rstpot" AREA_GROUP = "pblock_1";
INST "leds_2_glue_set" AREA_GROUP = "pblock_1";
INST "leds_2_glue_set_SW0" AREA_GROUP = "pblock_1";
INST "leds_0" AREA_GROUP = "pblock_1";
INST "leds_1" AREA_GROUP = "pblock_1";
INST "loading" AREA_GROUP = "pblock_1";
INST "miner_reset" AREA_GROUP = "pblock_1";
INST "txwidth_3" AREA_GROUP = "pblock_1";
INST "leds_2" AREA_GROUP = "pblock_1";
INST "tx_OBUF" AREA_GROUP = "pblock_1";
INST "leds_0_OBUF" AREA_GROUP = "pblock_1";
INST "leds_1_OBUF" AREA_GROUP = "pblock_1";
INST "leds_2_OBUF" AREA_GROUP = "pblock_1";
INST "leds_3_OBUF" AREA_GROUP = "pblock_1";
INST "rx_IBUF" AREA_GROUP = "pblock_1";
INST "_n01537" AREA_GROUP = "pblock_1";
INST "_n01537_SW0" AREA_GROUP = "pblock_1";
INST "Mcount_loadctr5" AREA_GROUP = "pblock_1";
INST "Mcount_loadctr5_SW0" AREA_GROUP = "pblock_1";
INST "leds_0_rstpot_G" AREA_GROUP = "pblock_1";
INST "leds_0_rstpot_F" AREA_GROUP = "pblock_1";
INST "leds_0_rstpot" AREA_GROUP = "pblock_1";
INST "leds_1_rstpot_G" AREA_GROUP = "pblock_1";
INST "leds_1_rstpot_F" AREA_GROUP = "pblock_1";
INST "leds_1_rstpot" AREA_GROUP = "pblock_1";
INST "X_6_o_X_6_o_mux_25_OUT<2>11_INV_0" AREA_GROUP = "pblock_1";
INST "loading_rstpot" AREA_GROUP = "pblock_1";
INST "miner_reset_rstpot" AREA_GROUP = "pblock_1";
AREA_GROUP "pblock_1" RANGE=CLOCKREGION_X1Y6:CLOCKREGION_X1Y6;
